<link rel="stylesheet" href="~/Content/xindex.css">



<div id="">


    @*Intro*@
    <div class="hero is-fullheight" id="section0">
        @*<div class="container auto-margin">*@
        <div class="is-div-centered">
            <h1 class="title is-1 has-text-white">Kia Ora! I'm Ed.</h1>
            @*<h1 class="title has-text-white">
                    Not just a software developer.
                </h1>*@
            <div class="has-text-centered">
                <a class="subtitle button">Not just a software developer.</a>
            </div>

            @*<input id="MyLifeStory" class="primary call-to-action" type="button" value="My life story..." />*@
        </div>
        @*</div>*@
    </div>


    @*About*@
    <div class="section-margin">
        <div>
            @*<div class="container auto-margin">*@
            <div>
                <h1 class="title is-1 has-bottom-border">About</h1>
                <div class="sub-section-margin">
                    <div class="content">
                        <p class="has-no-bottom-margin">"I wanna be the very best, that no one ever waaaas"</p>
                        <p>Dun. Dun. DUNUN.</p>
                        <div class="content is-pulled-right">
                            <p class="has-no-bottom-margin">Ash Ketchum</p>
                            <p>Wannabe Pokemon Master</p>
                        </div>
                        <div class="is-clearfix"></div>
                    </div>
                </div>

                <div class="sub-section-margin">
                    <p> The above quote says it all. For the most part anyway.</p>
                    <p>I currently work for a software consultancy and design company based in Parnell, Auckland. I’m a keen learner who is passionate about excellent code and innovative and cutting edge software design. I believe that continuous personal and professional growth is a must, and am looking constantly for opportunities to achieve this.</p>
                </div>

                <div class="has-text-centered">
                    <a class="subtitle button is-dark" v-on:click="DownloadCV"><span>Curriculum Vitae</span> <span class="icon is-small"> <i class="fas fa-download"></i></span></a>
                </div>


            </div>
        </div>
    </div>




    @*Skills*@
    <div class="hero has-background-grey-lighter">
        <div id="skills" class="section-margin">
            <h1 class="title is-1 has-bottom-border">Skills</h1>
            @*<div class="content">
                    <div class="select is-small">
                        <select>
                            <option>Skill level</option>
                            <option>Number of years</option>
                        </select>
                    </div>
                </div>*@

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <h2 class="title is-3">Backend</h2>
                        <skill-item skill="C# .NET" level="2"></skill-item>
                        <skill-item skill="SQL" level="5"></skill-item>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <h2 class="title is-3">Frontend</h2>
                        <skill-item skill="VueJS" level="2"></skill-item>
                        <skill-item skill="TypeScript" level="2"></skill-item>
                    </div>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <h2 class="title is-3">Systems and servers</h2>
                        <skill-item skill="IIS" level="6"></skill-item>
                        <skill-item skill="MS-SQL" level="6"></skill-item>
                        <skill-item skill="Azure" level="2"></skill-item>
                    </div>
                </div>

                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <h2 class="title is-3">Non technical</h2>
                        <skill-item skill="Client management" level="7"></skill-item>
                        <skill-item skill="Team management" level="5"></skill-item>
                        <skill-item skill="Project management" level="5"></skill-item>
                    </div>
                </div>
            </div>

            <div class="content">
                <span class="has-text-weight-bold">This is obviously a joke.</span> I've always found it strange how people include skill levels in their CV because:
                <ol>
                    <li> The concept of mastery or being good at something is extremely subjective </li>
                    <li> There will always be a different or better way of using or applying something </li>
                </ol>
                <p>
                    To say that I am “good” or “not so good”, is limiting. Instead, I can show the <a id="showme">number of years</a> I've had the opportunity to hone these skills.
                </p>
                <p>
                    Although… even the number of years don't count for much. What really matters is how much an individual has learned in those years. I believe this can only be seen through one’s work and hard earned references.
                </p>
            </div>
            <div class="has-text-centered">
                <a class="subtitle button">Employment history</a>
            </div>
        </div>

    </div>




    @*Projects*@
    <div class="is-fullheight has-background-white">
        <div class="section-margin">
            <h1 class="title is-1 has-bottom-border">Latest projects</h1>
            <div class="tile is-ancestor">
                <div class="tile is-parent" v-on:click.prevent="MT4">
                    <div class="tile is-child box clickable grayscale">
                        <div class="image is-128x128 level-left is-div-centered level-item">
                            <img class="" src="~/Content/img/soonsoon.png" />
                        </div>
                        <div>
                        </div>
                    </div>

                </div>

                <div class="tile is-parent">
                    <div class="tile is-child box clickable grayscale">
                        <div class="image is-128x128 is-div-centered level-item">
                            <img class="" src="~/Content/img/nftb.png" />
                        </div>
                        <div>
                            <p>

                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box clickable grayscale">
                        <div class="image is-128x128 is-div-centered level-item">
                            <img class="" src="~/Content/img/crm.png" />
                        </div>
                        <div>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>

                <div class="tile is-parent">
                    <div class="tile is-child box clickable grayscale">
                        <div class="image is-128x128 is-div-centered level-item">
                            <img class="" src="~/Content/img/thisProject.png" />
                        </div>
                        <div>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Contact*@
    <div class="hero is-fullheight has-background-grey-lighter">
        <div class="section-margin">
            <h1 class="title is-1 has-bottom-border">Contact</h1>
            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Organisation</label>
                        <div class="control">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Contact number</label>
                        <div class="control">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-12">
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Hey Ed, I'd really like to have a chat so I can hire you!"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <input type="button" class="button" value="Send" />
        </div>
    </div>

    @*<div id="ProjectModal" class="modal">
            <div class="modal-background"></div>
                <div id="ProjectContent" class="modal-content">
                </div>
                <button class="modal-close is-large" v-on:click="CloseModal"></button>
        </div>*@

    <div id="ProjectModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" v-on:click="CloseModal"></button>
            </header>
            <section id="ProjectContent" class="modal-card-body"></section>
            @*<footer class="modal-card-foot">
                    <button class="button is-success">Save changes</button>
                    <button class="button">Cancel</button>
                </footer>*@
        </div>
    </div>

    @*<script src="~/Scripts/Index.js"></script>*@


    @*<div class="section" id="section1" data-anchor="2">
            <div class="section-content-80 is-vertical-center">
                <div class="tile is-ancestor is-fullheight">
                    <div class="tile is-4 is-vertical is-parent is-fullheight">
                        <div class="tile is-child box is-vertical-center">
                            <p>I'm a C# .NET software developer based in Auckland</p>
                        </div>
                        <div class="tile is-child box is-vertical-center">
                            <p>I want to reach ninja guru sensei master gosu level full-stack developer someday</p>
                        </div>

                        <div class="tile is-child box is-vertical-center">
                            <p>I'm lazy so I love problem solving to make my life easier</p>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <div class="columns">
                                <div id="project-1-img" class="column">
                                    <div class="image is-128x128 level-left clickable grayscale">
                                        <img class="" src="~/Content/img/nftb.png" />
                                    </div>
                                </div>


                                <div id="project-2-img" class="column">
                                    <div class="image is-128x128 level-left clickable grayscale">
                                        <img class="" src="~/Content/img/soonsoon.png" />
                                    </div>
                                </div>


                                <div class="column">
                                    <div class="image is-128x128 level-left clickable grayscale">
                                        <img class="" src="~/Content/img/crm.png" />
                                    </div>
                                </div>

                                <div class="column">
                                    <div class="image is-128x128 level-left clickable grayscale">
                                        <img class="" src="~/Content/img/edenco.png" />
                                    </div>
                                </div>

                            </div>
                            <div id="project-1-desc" class="is-fullwidth">
                                NFTB is a mobile app developed using Xamarin.Forms. It is a attendance and payment management system that helps me track blah blah
                            </div>
                            <div id="project-2-desc" class="is-fullwidth">
                                Proj 2
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>*@
    @*<div class="section" id="section2">
            <div class="section-content">
                <div>
                    <span class="head">1988</span>
                    <span class="sub-head">Born in Cebu, Philippines - where seashells are used as currency</span>
                </div>

                <div>
                    <div class="img"></div>
                    <p>
                        They don't really, but it is known to be the oldest city of the country. That is a picture of a young me.
                    </p>
                </div>
                <div class="clear-fix"></div>
                <div>
                    <span class="head">2002</span>
                    <span class="sub-head">Born in Cebu, Philippines - where seashells are used as currency</span>
                </div>

                <div>
                    <div class="img"></div>
                    <p>
                        They don't really, but it is known to be the oldest city of the country. That is a picture of a young me.
                    </p>
                </div>
            </div>
        </div>
        <div class="section" id="section3">e</div>*@

</div>