<script src="~/Scripts/fullpage.js"></script>
<script src="~/Scripts/index.es6.js"></script>
<link rel="stylesheet" href="~/Content/fullpage.css">

<link rel="stylesheet" href="~/Content/xmylife.css">



<div id="fullpage">
    <div class="section" id="section0">
        <div class="section-content">
            <span class="head white">Kia Ora!</span>
            <span class="sub-head white">I'm Ed</span>
            <p>
                This page is to get an insight on my background .. Help with text please
            </p>
        </div>
    </div>

    <div class="section" id="section1" data-anchor="2">
        <div class="section-content-80">
            <p>
                I'm a software developer <strong>wanna-be</strong>. Although I know how to code and how general programming works, I have not achieved my goal to becoming a software architect ninja guru sensei master.
            </p>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="section-content">
            <div>
                <span class="head">1988</span>
                <span class="sub-head">Born in Cebu, Philippines - where seashells are used as currency</span>
            </div>

            <div>
                <div class="img"></div>
                <p>
                    They don't really, but it is known to be the oldest city of the country. That is a picture of a young me.
                </p>
            </div>
            <div class="clear-fix"></div>
            <div>
                <span class="head">2002</span>
                <span class="sub-head">Born in Cebu, Philippines - where seashells are used as currency</span>
            </div>

            <div>
                <div class="img"></div>
                <p>
                    They don't really, but it is known to be the oldest city of the country. That is a picture of a young me.
                </p>
            </div>
        </div>
    </div>
    <div class="section" id="section3">e</div>

</div>