<div class="hero is-medium is-primary">
    <div class="hero-body">
        MT4 - 2018
    </div>
</div>

<div class="section-margin">
    <div class="tile is-ancestor">
        <div class="tile is-6 is-parent">
            <div class="tile is-child box">
                <p class="title">Overview</p>
                <p> The company I was working for at the time had an internal CRM system written as a desktop application, backed by an MSAccess db. This was problematic due to compatibility issues with running the application on different platforms. </p>
            </div>

        </div>
        <div class="tile  is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Problem</p>
                <p> The company I was working for at the time had an internal CRM system written as a desktop application, backed by an MSAccess db. This was problematic due to compatibility issues with running the application on different platforms.  </p>
            </div>
            <i class="fas fa-arrow-down has-text-centered"></i>
            <div class="tile is-child box">
                <p class="title">Solution</p>
                <p> Rewrite the front end application to a web application. We converted the database to an MSSQL database and went from there.</p>
            </div>
            <i class="fas fa-arrow-down has-text-centered"></i>
        </div>
    </div>
    <div class="box">
        <p class="title">What I learned</p>

    </div>
</div>


@*<div>
    <div class="hero has-nftb-color is-small is-bold">
        <div class="hero-body section-margin">
            <h4 class="">CRM</h4>
        </div>
    </div>

    <div class="section-margin">
        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">1 - the problem</h6>
            </div>
            <div class="column is-10">
                <p>
                    The company I worked for had an internal CRM system written in Delphi as a desktpp application and was backed by an MSAccess database. This eventually became problematic because of compatibility issues with running the application on different Windows desktop platforms.
                </p>
            </div>
        </div>

        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">2 - the solution</h6>
            </div>
            <div class="column is-10">
                <p>
                    Rewrite the front end application to a web application. We converted the database to an MSSQL database and went from there.
                </p>
            </div>
        </div>

        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">Screenshots</h6>

            </div>
            <div class="column is-10">
                <div class="columns">
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                </div>
                <div class="columns">
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                </div>

            </div>
        </div>

    </div>
</div>

<div>
    <div class="hero is-info is-small is-bold">
        <div class="hero-body section-margin">
            <h4 class="">CRM</h4>
        </div>
    </div>

    <div class="section-margin">
        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">1 - the problem</h6>
            </div>
            <div class="column is-10">
                <p>
                    The company I worked for had an internal CRM system written in Delphi as a desktpp application and was backed by an MSAccess database. This eventually became problematic because of compatibility issues with running the application on different Windows desktop platforms.
                </p>
            </div>
        </div>

        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">2 - the solution</h6>
            </div>
            <div class="column is-10">
                <p>
                    Rewrite the front end application to a web application. We converted the database to an MSSQL database and went from there.
                </p>
            </div>
        </div>

        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">Screenshots</h6>

            </div>
            <div class="column is-10">
                <div class="columns">
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                </div>
                <div class="columns">
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                </div>

            </div>
        </div>

    </div>
</div>*@







