<script src="/Scripts/project.js"></script>
<div id="ProjectInstance">
    <div class="hero has-bottom-border">
        @*<div class="image is-128x128 is-div-centered level-item">
            <img class="" src="~/Content/img/NFTB.png" />
        </div>
        <div class="has-text-centered">
            NFTB - 2018
        </div>*@
        <div class="hero-body">
            <div class="columns">
                <div class="column auto-margin">
                    <div class="image is-256x256 auto-margin  is-vertical-center">
                        <img class="" src="~/Content/img/thisProject.png" />
                    </div>
                    <div class="has-text-centered">
                        <span class="tag">.NET MVC</span>
                        <span class="tag">Bulma CSS</span>
                        <span class="tag">VueJS</span>
                    </div>

                </div>
                <div class="column auto-margin">
                    <div class="section has-text-justified content">
                        <p> The time had come to join the cool kids, and make myself a personal website </p>
                        <p> this.Project (being this project that you're looking at right now) was created so I can stand out to potential employers like yourself </p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="content sub-section-margin">
        <div class="box">
            <h3 class="title is-3 has-bottom-border">Problem</h3>
            <p>
                Before landing my current job, I had difficulty finding employment as a software developer for several reasons:
            </p>
            <ul>
                <li>I was not seen as a new-graduate as I had been in the workforce for five years already </li>
                <li>I was not seen a junior developer as I did not have any commercial experience</li>
                <li>I'm asian (Did you read that correctly?! ...unfortunately, yes you did!)</li>
            </ul>
        </div>

        <div class="box is-shadowless is-transparent has-text-centered">
            <i class="fas fa-arrow-alt-circle-down has-thisproject-color is-size-3"></i>
        </div>

        <div class="box">
            <h3 class="title is-3 has-bottom-border">Solution</h3>
            <p>Develop a personal website using technologies that I know so far in order to stand out, and get YOUR attention</p>
            <p> This site is also my sandpit to be able to play around with technologies I want to experiment with. I can also use this site as a template for future projects that require similar technologies.</p>

        </div>

        <div class="box is-shadowless is-transparent has-text-centered">
            <i class="fas fa-arrow-alt-circle-down has-thisproject-color is-size-3"></i>
        </div>

        <div class="box">
            <h3 class="title is-3 has-bottom-border">What I learned</h3>
            <div class="content">
                <h6 class="title is-6">Do it once, do it right</h6>
                <p>
                    I am a big fan of the 'do it once do it right' mantra, however this has not been the case for this project
                </p>
                <p>
                    One of my goals was to avoid using well known CSS and JS libraries. It sounds crazy but I really wanted to get up close with these technologies in their purest form. I did start off that way and got to learn a few things but unfortunately, this is extremely time consuming, and I was under a time constraint. 
                </p>
                <p>
                    Because of this constraint, I have had to clunk in ***VERY UGLY*** code. This however does not align with my values as a developer. As mentioned above, this project is my sandbox, therefore, I see it as something I will constantly update and tinker with until it reaches to become scalable and reusable!
                </p>
            </div>

            <div class="content">
                <h6 class="title is-6"></h6>

            </div>

        </div>

        <div class="has-text-centered">
            <a class="button has-background-grey-lighter" v-on:click="LoadGitHub('ThisProject')">
                <span class="icon has-thisproject-color"><i class="fab fa-github"></i></span>
                <span>View on GitHub</span>
            </a>
        </div>
    </div> 
</div>

